<div class = "container">
    <div class="page-header well well-sm">
        <h1>ABOUT</h1>
    </div><!--end menu header-->

    <!-- body-->
    <div id="about-img" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <img src="img/10583281_10204882443440243_1502595508_n.jpg">
    </div>


    <div class="about-text col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <br>
        <p>After having spent several years trying to build a time machine in her basement, Elisabeth O’Rourke finally realized the futility of her mission, as the temporal paradox, and general lack of physics knowledge, kept her from realizing her vision. Once her shortcomings were realized, she decided the best course of action would be to obtain a degree in photography, and she did just that.</p>
        <br>
        <p>Since then she has developed a love for travel, and is currently on a new mission to visit every corner of the world. When not planning out her next trip into the great unknown, she can be found reveling in her other passions: fashion photography, 35mm film, and shoes. Her work is centered around feminine strength, strong sexuality, and  a sense of feral melancholy. She is constantly looking for new and exciting boundaries to break, both in her artistic work, and in her personal adventures.
        </p>
    </div>



</div><!--end container-->
