<div class = "container">
      <div class="page-header well well-sm">
        <h1>PORTFOLIO II</h1>
      </div><!--end menu header-->

      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <a ng-href="#" class="thumbnail pop">
            <img src="img/portfolio2/08_Elisabeth_ORourke_Studio.jpg">
          </a>
        </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <a ng-href="#" class="thumbnail pop">
            <img src="img/portfolio2/09_Elisabeth_ORourke_Landscape.jpg">
          </a>
        </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <a ng-href="#" class="thumbnail pop">
            <img src="img/portfolio2/19_Elisabeth_ORourke_Landscape.jpg">
          </a>
        </div>
      </div><!-- end first row-->

      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <a ng-href="#" class="thumbnail pop">
            <img src="img/portfolio2/09_Elisabeth_ORourke_Studio.jpg">
          </a>
        </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <a ng-href="#" class="thumbnail pop">
            <img src="img/portfolio2/10_Elisabeth_ORourke_Landscape.jpg">
          </a>
        </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <a ng-href="#" class="thumbnail pop">
            <img src="img/portfolio2/10_Elisabeth_ORourke_Location.jpg">
          </a>
        </div>
      </div><!-- end second row-->

      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <a ng-href="#" class="thumbnail pop">
            <img src="img/portfolio2/18_Elisabeth_ORourke_Landscape.jpg">
          </a>
        </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <a ng-href="#" class="thumbnail pop">
            <img src="img/portfolio2/11_Elisabeth_ORourke_Location.jpg">
          </a>
        </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <a ng-href="#" class="thumbnail pop">
            <img src="img/portfolio2/11_Elisabeth_ORourke_Studio.jpg">
          </a>
        </div>
      </div><!-- end third row-->
    
        <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <a ng-href="#" class="thumbnail pop">
            <img src="img/portfolio2/12_Elisabeth_ORourke_Location.jpg">
          </a>
        </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <a ng-href="#" class="thumbnail pop">
            <img src="img/portfolio2/17_Elisabeth_ORourke_Landscape.jpg">
          </a>
        </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <a ng-href="#" class="thumbnail pop">
            <img src="img/portfolio2/13_Elisabeth_ORourke_Location.jpg">
          </a>
        </div>
      </div><!-- end fourth row-->
    
        <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <a ng-href="#" class="thumbnail pop">
            <img src="img/portfolio2/15_Elisabeth_ORourke_Studio.jpg">
          </a>
        </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <a ng-href="#" class="thumbnail pop">
            <img src="img/portfolio2/14_Elisabeth_ORourke_Studio.jpg">
          </a>
            </div>
      </div><!-- end fifth row-->

    </div><!--end container-->

<script>
    $(function() {
    $('.pop').on('click', function() {
      $('.imagepreview').attr('src', $(this).find('img').attr('src'));
      $('#imagemodal').modal('show');   
    });   
});
      </script>