<div class = "container">
    <div class="page-header well well-sm">
        <h1>PORTFOLIO I</h1>
    </div><!--end menu header-->

    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <a ng-href="#" class="thumbnail pop">
                <img src="img/portfolio1/07_Elisabeth_ORourke_Studio.jpg">
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <a ng-href="#" class="thumbnail pop">
                <img src="img/portfolio1/01_Elisabeth_ORourke_Studio.jpg">
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <a ng-href="#" class="thumbnail pop">
                <img src="img/portfolio1/02_Elisabeth_ORourke_Landscape.jpg">
            </a>
        </div>
    </div><!-- end first row-->

    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <a ng-href="#" class="thumbnail pop">
                <img src="img/portfolio1/02_Elisabeth_ORourke_Location.jpg">
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <a ng-href="#" class="thumbnail pop">
                <img src="img/portfolio1/02_Elisabeth_ORourke_Studio.jpg">
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <a ng-href="#" class="thumbnail pop">
                <img src="img/portfolio1/03_Elisabeth_ORourke_Landscape.jpg">
            </a>
        </div>
    </div><!-- end second row-->

    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <a ng-href="#" class="thumbnail pop">
                <img src="img/portfolio1/03_Elisabeth_ORourke_Location.jpg">
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <a ng-href="#" class="thumbnail pop">
                <img src="img/portfolio1/07_Elisabeth_ORourke_Landscape.jpg">
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <a ng-href="#" class="thumbnail pop">
                <img src="img/portfolio1/04_Elisabeth_ORourke_Landscape.jpg">
            </a>
        </div>
    </div><!-- end third row-->
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <a ng-href="#" class="thumbnail pop">
                <img src="img/portfolio1/04_Elisabeth_ORourke_Location.jpg">
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <a ng-href="#" class="thumbnail pop">
                <img src="img/portfolio1/04_Elisabeth_ORourke_Studio.jpg">
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <a ng-href="#" class="thumbnail pop">
                <img src="img/portfolio1/05_Elisabeth_ORourke_Landscape.jpg">
            </a>
        </div>
    </div><!-- end fourth row-->
</div><!--end container-->

<script>
    $(function() {
    $('.pop').on('click', function() {
      $('.imagepreview').attr('src', $(this).find('img').attr('src'));
      $('#imagemodal').modal('show');   
    });   
});
      </script>